/* Fonts */
@font-face {
    font-family: Lineto;
    src: url('/docs/fonts/lineto-circular-book.12d486e1e384.woff');
}

@font-face {
    font-family: LinetoMedium;
    src: url('/docs/fonts/lineto-circular-medium.83ad4cf8ef02.woff');
}

@font-face {
    font-family: LinetoBold;
    src: url('/docs/fonts/lineto-circular-bold.0f01eae4be59.woff');
}

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #2f6165;
    font-size:18px;
    font-family: Lineto, sans-serif;
}

a, a:hover, a:visited {
    color: #2f6165;
    border: 0;
    text-decoration: none;
}
a:hover, a.on {
    border-bottom: 2px solid #ffc700;
}
strong {
    font-family: LinetoBold, sans-serif;
}

/* Footer */
footer {
    padding: 20px;
    font-size: 12px;
    text-align: center;
    border-top: 2px solid #e2e2e2;
}

/* Content */

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Nav */
nav {
    padding: 20px;
    position: relative;
    flex: -1;
    min-height: 100%;
    width: 20%;
}

nav ul {
    list-style: none;
    padding: 20px 0 0 0;
    margin: 0;
}

nav ul li {
    padding-bottom: 10px;
}

nav ul ul {
    margin: 0;
    padding: 0;
}

nav ul li li {
    padding-top: 5px;
}

nav ul li li a {
    font-size: 14px;
}

.content {
    padding: 20px;
    flex: 1;
}

.content h1 {
    margin-top: 0;
}

.content pre {
    font-size: 12px;
    border: 2px solid #e2e2e2;
    background: #f2f2f2;
    padding: 18px;
}

.content pre:hover {
    border: 2px solid #e2e2e2;
    background: #f2f2f2;
    padding: 18px;
}

.content hr {
    height: 0;
    border: 0;
    border-top: 2px solid #e2e2e2;
    margin: 20px 0;
}

.content ul li {
    padding-bottom: 5px;
}

.content span.code {
    border: 1px solid #5bd0e6;
    padding: 0 5px;
    background: #f2f2f2;
    border-radius: 4px;
}

.sidebar {
    width: 15%;
    padding: 20px;
    margin: 20px;
    font-size: 14px;
    background: #2f6165;
}

.sidebar a {
    color: #fff;
}

.sidebar h3 {
    margin-top: 3px;
}

.sidebar h3:last-child {
    margin-bottom: 3px;
}

.warning {
    border: 2px solid #ff674d;
    padding: 10px;
    color: #ff674d;
    background: #f2f2f2;
}

.message {
    border: 2px solid #5268c2;
    padding: 10px;
    color: #5268c2;
    background: #f2f2f2;
}